@import "../../../src/scss/components/vars";
.products-section {
  padding: 25px 0;
  @media (min-width: $sm) {
    padding: 110px 0 86px;
  }
  .section-title {
    margin-bottom: 30px;
    @media (min-width: $sm) {
      margin-bottom: 60px;
    }
  }
  .col {
    flex-basis: 100%;
    @media (min-width: $lg) {
      flex-basis: 31.33%;
    }
  }
  .product {
    &-title {
      margin-bottom: 13px;
    }
    &-image-wrap {
      position: relative;
      margin-bottom: 16px;
      img {
        width: 100%;
      }
    }
    &-cats {
      position: absolute;
      left: 16px;
      top: 16px;
      right: 16px;

    }
    &-cat {
      font-size: 10px;
      text-transform: uppercase;
      color: $white;
      background-color: $primary-color;
      padding: 7px 26px;
      border-radius: 16px;
      margin-right: 16px;
    }
    &-link {
      display: block;
      color: $secondary-color;
      .sale-persent {
        color: $accent-color;
      }
    }
    &-price {
      margin-bottom: 8px;
      ins {
        text-decoration: none;
      }
    }
    &-other-info {
      display: flex;
      flex-wrap: wrap;
    }
    &-description {
      padding-right: 7%;
    }
    &-rating {
      display: flex;
      align-items: center;
      padding: 0 8.6px;
      .star-rating {
        display: flex;
        .star {
          &.star-full {
            content: url("../../../dist/img/stars/star-full.svg");
          }
          &.star-half {
            content: url("../../../dist/img/stars/star-half.svg");
            opacity: .6;
          }
          &.star-empty {
            content: url("../../../dist/img/stars/star-full.svg");
            opacity: .3;
          }

        }
      }
    }

    &-colors {
      position: relative;
      padding-right: 4px;
      &:after {
        content: '';
        position: absolute;
        top: 1px;
        height: 12px;
        width: 1px;
        margin-left: 4px;
        background-color: currentColor;
      }
    }
    &-colors, &-reviews-count {
      font-size: 14px;
      line-height: 12px;
      color: $primary-color;
    }

  }

}