@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.products-section {
  .section-title {
    margin-bottom: 34px;
    @media (min-width: $sm) {
      line-height: 86%;
      margin-bottom: 70px;
    }
  }
  .row {
    margin-bottom: -30px;
  }
  .col {
    flex-basis: 100%;

    @include media-breakpoint-up(xs) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(md) {
      flex-basis: 33%;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 32%;
    }
  }
}