@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.content-with-image--meet-our-founders {
  &-section {
    &.image-position-right {
      .row {
        .col {
          &:first-child {
            @include media-breakpoint-up(lg) {
              margin-right: 86px;
              margin-left: 0;
            }
          }
          &:last-child {
            @include media-breakpoint-up(lg) {
              margin-right: 0;
              margin-left: 0;
            }
          }

        }
      }
    }
    .row {
      .col {
        &:first-child {
          @include media-breakpoint-up(lg ) {
            flex-basis: 530px;
          }
        }
        &:last-child {
          @include media-breakpoint-up(lg ) {
            flex-basis: 530px;
          }
          @include media-breakpoint-up(xl ) {
            margin-right: 86px;
          }

        }
      }
    }
    &.section {
      h2, h3 {
       @include media-breakpoint-up(sm) {
         margin-bottom: 24px;
       }
      }
      h5 {
        margin: 24px 0;
      }
    }

  }
}