@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.content-with-image--not-sure-where-to-start {
  &-section {
    .row {
      .col {
        &:first-child {
          @include media-breakpoint-up(lg) {
            flex-basis: 704px;
          }
        }
        &:last-child {
          @include media-breakpoint-up(lg) {
            flex-basis: 433px;
          }
        }
      }
    }
    .content-icon {
      position: relative;
      padding-bottom: 20px;
      @include media-breakpoint-up(sm) {
        padding-bottom: 26px;
      }
      img {
        position: absolute;
        top: -55px;
        @include media-breakpoint-down(xs) {
          position: static;
          margin-top: -6px;
          max-width: 40px;
        }
      }
    }
  }
}
