@import "../components/vars";
.post-cats {
  display: flex;
  margin: 0 -6px 10px;
  .post-cat {
    font-size: 14px;
    letter-spacing: -.02em;
    margin: 0 6px 6px;
    @media (min-width: $sm) {
      font-size: 16px;
    }
  }
}