@import "../components/vars";
.product {
  margin-bottom: 30px;
  &-title {
    margin-bottom: 9px;
    @media (min-width: $md) {
      margin-bottom: 13px;
    }
  }
  &-image-wrap {
    position: relative;
    margin-bottom: 12px;
    @media (min-width: $md) {
      margin-bottom: 16px;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }
  }
  &-cats {
    position: absolute;
    left: 15px;
    top: 11px;
    right: 15px;
    @media (min-width: $md) {
      left: 16px;
      top: 16px;
      right: 16px;
    }

  }
  &-cat {
    font-size: 8px;
    text-transform: uppercase;
    color: $white;
    background-color: $primary-color;
    padding: 5px 15px;

    border-radius: 16px;
    margin-right: 16px;
    @media (min-width: $md) {
      font-size: 10px;
      padding: 7px 26px;
    }
  }
  &-link, .woocommerce-loop-product__link {
    display: block;
    color: $secondary-color;
    .sale-persent {
      color: $accent-color;
    }
  }
  &-link-review {
    display: flex;
    width: auto;
  }
  &-price, .price {
    flex-basis: 100%;
    margin-bottom: 8px;
    ins {
      text-decoration: none;
    }
    .amount {
      color: $primary-color;
    }
    .credit {
      display: none;
    }
  }
  &-other-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .credit {
      display: none;
    }
  }
  &-description {
    flex-basis: 100%;
    padding-right: 12%;
    font-size: 12px;
    line-height: 1.333em;
    margin-bottom: 14px;
    @media (min-width: $md) {
      font-size: 14px;
      padding-right: 20%;
      margin-bottom: 16px;
    }
  }
  &-rating {

    .jdgm-star {
      font-size: 10.6px;
      font-weight: 600;
    }
    .jdgm-prev-badge {
      &__text {
        color: $primary-color;
        margin-left: 3px;
      }
      &__stars {
        position: relative;
        top: -1px;
      }
    }
  }

  &-colors {
    position: relative;
    padding-right: 4px;
    margin-right: 8px;
    &:after {
      content: '';
      position: absolute;
      top: 1px;
      height: 12px;
      width: 1px;
      margin-left: 4px;
      background-color: currentColor;
    }
  }
  &-colors, .jdgm-prev-badge__text {
    font-size: 14px;
    line-height: 12px;
    color: $primary-color;
  }

}
.cmf-star-rating {
  display: flex;
  .star {
    &.star-half {
      opacity: .6;
    }
    &.star-empty {
      opacity: .3;
    }
  }
}
.jdgm-widget {
  .jdgm-star {
    &.jdgm--off {
      &:before {
        content: "\e000";
        opacity: .3;
      }
    }
  }
}
