@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.content-with-image-advanced-section {
  &.image-position-right {
    .col {
      &:first-child {
        @include media-breakpoint-up(sm) {
          order: 2;
        }
      }
    }
  }
  &.image-title-exist {
    .row {
      .col {
        &:first-child {
          position: relative;
          padding-top: 64px;
        }
        &:last-child {

        }
        &:first-child, &:last-child {
          @include media-breakpoint-up(sm) {
            padding-top: 104px;
          }
        }
      }
    }
  }
  .row {
    align-items: center;
    @include media-breakpoint-up(sm){
      flex-wrap: nowrap;
    }
    .col {
      flex-basis: 100%;
      @include media-breakpoint-up(sm) {
        flex-basis: 50%;
      }
      &:first-child {
        img {
          border-radius: 8px;
          @include media-breakpoint-down(lg) {
            max-height: 80vh;
            object-fit: cover;
          }
        }
        @include media-breakpoint-down(xs) {
          margin-bottom: 32px;
        }
      }
      &:last-child {
       img {
         width: auto;
       }
      }
    }
  }
  h2, h3, h4, h5 {
    margin: 0;
  }
  p {
    margin: 16px 0 0;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      margin-top: 32px;
      @include media-breakpoint-up(md) {
        margin-top: 48px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .button-secondary {
    margin: 24px 0 0;
    @include media-breakpoint-up(sm) {
      margin-top: 32px;
    }
  }
  .section-title {
    font-size: 32px;
    position: absolute;
    left: 20px;
    top: 0;
    right: 20px;
    @include media-breakpoint-up(sm) {
      font-size: 40px;
      text-align: center;
    }
  }
}