@import "../../../src/scss/components/vars";
.content-with-image-advanced-section {
  .row {
    align-items: center;
    &.image-position-right {
      .col {
        &:first-child {
          @media (min-width: $sm) {
            order: 2;
          }
        }
      }
    }
    .col {
      @media (min-width: $sm) {
        flex-basis: 50%;
      }
      &:first-child {
        @media (max-width: $md - 1) {
          margin-bottom: 32px;
        }
      }
      &:last-child {
       img {
         width: auto;
       }
      }
    }
  }
  h2, h3, h4, h5 {
    margin: 0;
  }
  p {
    margin: 16px 0 0;
  }
  ul {
    padding: 0;
    li {
      display: block;
      margin-top: 32px;
      @media (min-width: $md) {
        margin-top: 48px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .button-secondary {
    margin: 24px 0 0;
    @media (min-width: $sm) {
      margin-top: 32px;
    }
  }
  .section-title {

  }
}