.acf-fl-thumb {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 10px;
    max-width: 100px;
}
.acf-fl-thumb a {
  outline: none !important;
}
.acf-fl-thumb img {
    max-width: 100%;
    vertical-align: bottom;
}
.acf-fl-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}