@import "../../../src/scss/components/vars";
.section-cta {
  padding: 64px 0;
  .left-col {
    @media (min-width: $md) {
      flex-basis: 50%;
    }

  }
  .right-col {
    @media (min-width: $md) {
      flex-basis: 314px;
    }
  }
}