@import "../../../src/scss/components/vars";
.cta-section {
  padding: 10px 0;
  @media (min-width: $sm) {
    padding: 50px 0;
  }
  .left-col {
    @media (min-width: $lg) {
      flex-basis: 54%;
    }

  }
  .right-col {
    @media (min-width: $md) {
      flex-basis: 345px;
    }
    .section-content {
      padding: 0 0 14px;
      @media (min-width: $md) {
        padding: 14px 0;
      }
    }
    .button {
      margin-top: 5px;
      margin-bottom: 10px;
      @media (min-width: $sm) {
        margin-top: 8px;
        margin-bottom: 0;
      }
    }
  }
}