@import "vars";
@import "mixins";

//Theme Buttons
.button {
  @include button;
  &-primary {
    @include button-primary;
  }
  &-secondary {
    @include button-secondary;
    &-white {
      @include button-secondary-white;
    }
  }
}

// Gutenberg Buttons
.wp-block-button {
  .wp-block-button__link {
    @include button;
  }
  &.is-style-fill {
    .wp-block-button__link {
      @include button-primary;
    }
  }
  &.is-style-outline {
    .wp-block-button__link {
      @include button-secondary;
    }
  }
}

//CF7 Form button
form.wpcf7-form {
  input[type="submit"] {
    @include button;
    @include button-primary;
    cursor: pointer;
  }
}

.arrow-icon {
  right: 5px;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  transform: translateY(-1px);
  background-color: $white;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 11px;
    height: 0;
    transition: all .35s cubic-bezier(.4,0,.2,1) 0s;
    transform: rotate(0deg);
    background-color: $white;
    border-radius: 2px;
  }
  &:hover {
    &:before, &:after {
      left: 0;
    }
    &:before {
      transform: rotate(-35deg);
    }
    &:after {
      transform: rotate(35deg);
    }
  }
  &:before {
    transform: rotate(35deg);
    top: -3px;
    height: 2px;

  }
  &:after {
    transform: rotate(-35deg);
    top: 3px;
    height: 2px;
  }

}