footer {
  &.footer {
    padding-top: 80px;
    background-color: $primary-color;
    color: $white;
    h3 {
      color: $white;
    }
    a {
      color: $white;
      transition: opacity $std-transition-length;
      &:hover {
        opacity: .6;
      }
    }
    ul {
      li {
        display: block;
      }
    }
  }
  .footer {
    &-social {
      flex-basis: 316px;
      &-title {
        padding-right: 20%;
        line-height: 100%;
        font-weight: 400;
        letter-spacing: .01em;
        margin-bottom: 40px;
      }
      &-icons {
        padding: 19px 0;
        a {
          margin-right: 24px;
        }
      }
      form {
        position: relative;
        .arrow-icon {
          position: absolute;
          top: 50%;
          right: 5px;
          input[type="submit"] {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            height: 14px;
            padding: 0;
            background: transparent;
            font-size: 0;
            border: none;
            transform: translate(-50%, -50%);
          }
        }
        .wpcf7-not-valid-tip {
          position: absolute;
        }
      }
    }
    &-widgets {
      display: flex;
      flex-basis: 750px;
      justify-content: space-between;
      padding: 0 5% 0 0;
      .widget {
        &.widget_nav_menu {
          .widget-title {
            font-weight: 600;
            letter-spacing: .1em;
          }
          ul {
            padding: 0;
            li {
              line-height: 227%;
              font-weight: 500;
            }
          }
        }
      }
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 97px 0 36px;
      flex-basis: 100%;
      font-size: 14px;
    }
    &-logo {

    }
    &-links {
      a {
        margin-left: 1em;
      }
    }
    &-partners {
      display: flex;
      align-items: center;
      &-wrap {
        flex-basis: 50%;
        display: flex;
        justify-content: end;
      }
      a {
        flex-basis: 60px;
        padding: 0 10px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &-copyright {
      margin: 0;
    }
  }
}