@import "vars";


.container {
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    padding: 0 15px;
  }
  @media (min-width: $md) {
    max-width: $container-tablet-width;
  }
  @media (min-width: $xl) {
    max-width: $container-desktop-width;
  }
  &-medium {
    @media (min-width: $md) {
     // max-width: 520px;
    }
    @media (min-width: $xl) {
      max-width: 1214px;
    }
  }

  &-small {
    @media (min-width: $md) {
     // max-width: 480px;
    }
    @media (min-width: $xl) {
    max-width: 1042px;
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
}

.col {
  padding: 0 15px;

  &-md {
    &-33 {
      @media (min-width: $md) {
        flex-basis: 33.333%;
      }
    }
    &-40 {
      @media (min-width: $md) {
        flex-basis: 40%;
      }
    }
    &-42 {
      @media (min-width: $md) {
        flex-basis: 42%;
      }
    }
    &-50 {
      @media (min-width: $md) {
        flex-basis: 50%;
      }
    }
    &-60 {
      @media (min-width: $md) {
        flex-basis: 60%;
      }
    }
    &-100 {
      @media (min-width: $md) {
        flex-basis: 100%;
      }
    }
  }
  &-100 {
  padding: 0 15px;
  flex-basis: 100%;
  width: 100%;
  }
}
