@import 'vars';
@import 'mixins';

main {
  padding-top: 90px;
  @include media-breakpoint-up(md) {
    padding-top: 112px; // Header crunch
  }
  @include media-breakpoint-up(mobile-nav) {
    padding-top: 112px; // Header crunch
  }

}
.nav-toggle {
  $width: 14px;
  $height: 14px;
  @include media-breakpoint-up(mobile-nav) {
    display: none;
  }
  z-index: 2;
  position: relative;
  width: $width;
  height: $height;
  margin: 0 6px;

  &.active {
    &:before {
      transform: rotate(45deg)translateY(0px);
    }

    &:after {
      transform: rotate(-45deg)translateY(0px);
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: $height/2;
    left: 0;
    width: 100%;
    height: 1.3px;
    background-color: $primary-color;
    border-radius: 2px;
    transition: $transition;
  }
  &:before {
    transform: rotate(0)translateY(3.333px);
  }

  &:after {
    transform: rotate(0)translateY(-3.333px);
  }

}

@include media-breakpoint-down(md) {
  #primary-header-nav-container {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform $std-transition-length ease-in-out, opacity $std-transition-length ease-in;
    pointer-events: none;
    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    position: fixed;
    left: 0;
    top: 60px;
    width: 100vw;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: $bg-white;
    padding-top: 16px;

    ul {
      &.menu {
        display: block;
        padding: 5px;
        li {
          &.depth {
            &-0 {
              padding: 0 16px;
              &.menu-item-has-children {
                position: relative;
                &:before, &:after {
                  content: '';
                  position: absolute;
                  top: 24px;
                  right: 20px;
                  width: 12px;
                  height: 2px;
                  background-color: $primary-color;
                  border-radius: 2px;
                }
                &:before {
                  transform: rotate(90deg);
                  transition: transform $std-transition-length ease-in;
                }
                &.active {
                  &:before {
                    transform: rotate(0deg);
                  }
                  a {
                    &:after {
                      display: none;
                    }
                    &.depth-0 {
                      @include media-breakpoint-down(lg) {
                        color: $secondary-color;
                      }
                    }
                  }
                }
                a.depth-0 {
                  display: block;
                  position: relative;
                  padding-right: 54px;
                }
                &:hover a.depth-0:after {
                  display: none;
                }

              }
            }
          }
          a {
            &.depth {
              &-0 {
                position: relative;
                font-family: CotfordDisplay;
                font-size: 24px;
              }
            }
          }
        }
      }
      &.sub-menu {
        &.depth {
          &-0, &-1 {
            padding-left: 0;
          }
          &-0 {
            margin-bottom: -28px;
          }
          &-1 {
            &:before {
              display: none;
            }
            li {
              line-height: 228%;
            }
          }

        }
      }
    }
    .sub-menu-wrap {
      padding: 14px 0;
      position: static;
      display: none;
      opacity: 1;
      pointer-events: all;
      transform: none;
      transition: none;
      .image-wrap {
        display: none;
      }
    }
    .mobile-links {
      padding: 9px 20px 54px;
      a {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  body.header-info-message {
    #primary-header-nav-container {
      top: 92px;
      height: 100%;
      max-height: calc(100% - 54px);
    }
  }
  body header.site-header .secondary-header-nav-el {
    margin-left: 18px;
  }
}

@include media-breakpoint-up(mobile-nav) {
  #primary-header-nav-container .mobile-links {
    padding: 10px 49px;
  }
}

.site-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: $bg-white;
  .info-message {
    position: relative;
    z-index: 2;
    background-color: $primary-color;
    text-align: center;
    padding: 12px;
    line-height: 100%;

    p {
      color: $text-white;
      font-size: 12px;
      font-weight: 900;
      margin: 0;

    }
  }
  .header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    @include media-breakpoint-up(mobile-nav) {
      padding: 0 15px;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 5%;
    }

    @include media-breakpoint-up(xxl) {
      padding: 0 14.666%;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $bg-white;
      pointer-events: none;
      border-bottom: 1px solid $line-gray;
    }
  }
  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
    flex-basis: 91px;
    line-height: 1;
    @include media-breakpoint-down(xs){
      svg {
        max-width: 70px;
      }
    }
    @include media-breakpoint-up(mobile-nav) {
      position: relative;
      left: 0;
      transform: none;
    }
  }
  ul{
    &.menu {
      flex-grow: 2;
      display: flex;
      margin: 0;
      padding: 0 8px;
      @include media-breakpoint-up(sm) {
        padding: 0 24px;
      }
      li {
        display: block;

        &.depth{
          &-0 {
            padding: 0 18px;
            a.depth-0 {
              position: relative;
              z-index: 1;
              font-size: 14px;
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: transparent;
                transition: background-color 300ms ease-in;
              }
            }
            &:hover, &.current_page_item {
              a.depth-0 {
                text-decoration: none;
                &:after {
                  background-color: $primary-color;
                }
              }
            }
          }
        }
        &.menu-item-has-children {
          &:hover {
            .sub-menu-wrap {
              opacity: 1;
              pointer-events: all;
              transform: translateY(0%);
            }
          }
        }
        .sub-menu {
          &-heading {
            display: block;
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            color: $secondary-color;
            text-transform: uppercase;
            margin-bottom: 28px;
            .term-label {
              transform: translateY(-1.5px);
            }
          }
          &-wrap {
            position: fixed;
            z-index: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            padding: 48px 10%;
            background-color: $bg-white;
            opacity: 0;
            transition: $transition;
            pointer-events: none;
            transform: translateY(-100%);
            @include media-breakpoint-up(xxl) {
              padding: 48px 20%;
            }

            .image-wrap {
              flex-basis: 403px;
              img {
                border-radius: 8px;
                margin-bottom: 17px;
              }
              p {
                font-size: 14px;
                color: $secondary-color;
                line-height: 142%;
                padding-right: 10%;
              }
            }
          }
        }
        a {
          &.depth {
            &-0 {
              display: inline-block;
              line-height: 48px;
              @include media-breakpoint-up(sm) {
                line-height: 72px;
              }
            }
            &-2 {
              display: flex;
              align-items: center;
            }
          }
          .term-label {
            display: inline-block;
            padding: 0 8px;
            margin-left: 16px;
            font-size: 8px;
            line-height: 16px;
            font-weight: 500;
            letter-spacing: -.04em;
            text-transform: uppercase;
            color: $text-white;
            border-radius: 16px;
          }
        }
      }
    }
    &.sub-menu {
      &.depth {
        &-0 {
          padding-left: 5%;
          padding-top: 6px;
        }
        &-1 {
          position: relative;
          padding-left: 18px;
          margin: -14px 0 22px 0;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            bottom: 10px;
            width: 1px;
            background-color: $line-gray;
          }
          li {
            line-height: 200%;
          }
        }
      }
    }
  }
  .secondary-header-nav {
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 14px;
    &-el {
      margin-left: 15px;
      padding-top: 7px;
      @include media-breakpoint-up(sm) {
        margin-left: 32px;
      }
    }

    .cart-link {
      position: relative;
      font-size: 11px;
      padding: 8px 6px 0 0;
      @include media-breakpoint-up(sm) {
        padding: 8px 8px 0 0;
      }
      &-amount {
        line-height: 100%;
        color: $text-white;
        position: absolute;
        top: 0;
        right: 5px;
        &:before {
          z-index: -1;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          padding-top: 16px;
          border-radius: 100%;
          background-color: $primary-color;
          transform: translate(-50%, -50%);
        }
      }
    }
    .account-link {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  a {
    font-weight: 500;
    letter-spacing: -0.04em;
    color: $primary-color;
    transition: color $std-transition-length ease-in;
    &:hover {
      @include media-breakpoint-up(mobile-nav) {
        color: $secondary-color;
      }
    }
  }
  &-link {
    line-height: 200%;
  }
  .header-container {
    position: absolute;
    z-index: 10;
    height: 100%;
    background: #fff;
    left: 0;
    right: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    @include media-breakpoint-up(mobile-nav) {
      padding: 0 15px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 5%;
    }

    @include media-breakpoint-up(xxl) {
      padding: 0 14.666%;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      .search-close-icon {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    .search-close-icon {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      cursor: pointer;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        height: 1.5px;
        margin-top: -1.5px;
        border-radius: 1.5px;
        background-color: $primary-color;
        transition: transform $std-transition-length ease-in;
        transform: rotate(0deg);
      }
    }
  }

  .header-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    &-icon {
      cursor: pointer;
      margin: 0 0 -5px 12px;
    }
    .woocommerce-product-search, .search-form {
      display: flex;
      width: 100%;
      .search-field, .search-field {
        outline: none;
      }

      &.active {
        transition: opacity .5s;
        opacity: 1;
        visibility: visible;
      }

    }
  }

}

.search-wrap {
  svg {
    cursor: pointer;
  }
  form[role="search"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    transition: $transition;
  }
  input{
    width: 100%;
    color: $search-input-text-color;
    outline: none;
    border: 1px solid $search-input-border-color;
    background-color: #fff;
  }
  input[type=text]{
    padding: 15px 200px 15px 25px;
  }
  input, button{
    &[type=submit]{
      display: none;
    }
  }
}
#search-results {
  border-top: 1px solid $white;
  position: absolute;
  top : 100%;
  width: 100%;
  max-height: 75vh;
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: opacity $std-transition-length ease-in;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .search-items {
    h4 {
      margin: 0;
    }
    h6 {
      margin-bottom: 15px;
    }
    .product {
      margin-bottom: 24px;
      &-image-wrap {
        min-width: 54px;
        margin-right: 8px;
      }
      &-title {
        font-size: 20px;
        margin-bottom: 8px;
      }
      .price {
        flex-basis: 100%;
      }
      &-description, &-other-info {
        margin-bottom: 8px;
      }
    }
  }
  &.active {
    opacity: 1;
  }
  article {

    a {
      display: flex;
    }
  }
  li {
    display: block;
    a {
      display: flex;
      margin-bottom: 15px;
      img {
        margin-right: 15px;
      }
    }
  }
  .search-view-all {
    margin-top: 20px;
  }
}

body.admin-bar {
  .site-header {
    top: 32px;
  }
}
