@import "vars";
@import "mixins";
.main {
  $margin-md-vals: 52px, 64px, 120px;
  @each $margin-md-val in $margin-md-vals {
    &.first-section-margin-#{$margin-md-val} {
      .section {
        &:first-child {
          @include media-breakpoint-up(md) {
            margin-bottom: $margin-md-val;
          }
        }
        &:nth-child(2) {
          @include media-breakpoint-up(md) {
            margin-top: $margin-md-val;
          }
        }
      }
    }
  }

  .section {
    margin: 80px 0;
    @include media-breakpoint-up(md) {
      margin: 160px 0;
    }
    &:first-child {
      margin-top: 32px;
      margin-bottom: 32px;
      @include media-breakpoint-up(md) {
        margin-top: 56px;
        margin-bottom: 120px;
      }
    }
    &:nth-child(2) {
      margin-top: 32px;
      @include media-breakpoint-up(md) {
        margin-top: 120px;
      }
    }
    &:last-child {
      @include media-breakpoint-up(md) {
        margin-bottom: 120px;
      }
    }
  }

}