@import "vars";

html {
  text-rendering: optimizeLegibility; // https://www.w3docs.com/tools/editor/16548
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Moderat';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 150%; //  142%; for 14px text
}
h1, h2, h3, h4, h5 {
  font-family: 'CotfordDisplay';
  font-weight: bold;
  color: $primary-color;
}
h1 {
  font-size: 64px;
  line-height: 1.071;
  letter-spacing: -.002em;
  //letter-spacing: -.128px;
  margin: 0 0 20px 0;

  @media (max-width: $md) {
    font-size: 40px;
  }
}

h2 {
  font-size: 56px;
  line-height: 1.284;
  margin: 0 0 20px 0;

  @media (max-width: $md) {
    font-size: 32px;
  }
}

h3 {
  font-size: 40px;
  line-height: 1.333;
  margin: 0 0 20px 0;

  @media (max-width: $md) {
    font-size: 32px;
  }
}

h4 {
  font-size: 32px;
  margin: 0 0 20px 0;
  line-height: 1.27;

  @media (max-width: $md) {
    font-size: 24px;
  }
}

h5 {

  font-size: 24px;
  line-height: 1.27;
  margin: 0 0 20px 0;

  @media (max-width: $md) {
    font-size: 20px;
  }
}

h6 {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: 28px;
}

a {
  display: inline-block;
  transition: color $std-transition-length, border-color $std-transition-length;

  &:hover {
    text-decoration: none;
  }
}

body {
  font-size: 16px;
  @media (max-width: $md) {
    font-size: 14px;
  }
}

p {
  margin-top: 0;
}

b, strong {
  font-weight: bold;
}


