//Colors
$primary-color: #283455; // Navy Blue
$secondary-color: #6C7489; // Light Navy Blue
$accent-color: #C17817; // Cooper

$white: #F9F6F2; //Beige
$bg-white:$white;
$text-white: $white;

$line-gray: #DDDCDD;

//Transitions
$std-transition-length: 300ms;
$transition: all $std-transition-length ease-in;

// Container
$container-widths: (
        reset: 1224px,
        sm: 1050px,
        lg: 1360px,
);

$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 769px,
        lg: 1080px,
        xl: 1240px,
        xxl: 1400px
);

$column-gap: 40px;

// Deprecated vars !
$container-large-desktop-width: 1360px;
$container-desktop-width: 1224px;
$container-large-tablet-width: 100%;
$container-tablet-width: 768px;
$container-breakpoint-window: 10px;
$sm: 480px;
$md: $container-tablet-width + $container-breakpoint-window;
$mobile-header-breakpoint: 1039px;
$lg: 1080px;
$xl: $container-desktop-width + $container-breakpoint-window;
$xxl: 1400px;



//Header Search Vars
$search-input-text-color: #5d5d5d;
$search-input-border-color: #becbd2;
