//Colors
$primary-color: #283455; // Navy Blue
$secondary-color: #6C7489; // Light Navy Blue
$accent-color: #C17817; // Cooper

$white: #F9F6F2; //Beige
$bg-white:$white;
$text-white: $white;

$line-gray: #DDDCDD;

//Transitions
$std-transition-length: 300ms;
$transition: all $std-transition-length ease-in;

// Container
$container-large-desktop-width: 1360px;
$container-desktop-width: 1214px;

$container-large-tablet-width: 100%;
$container-tablet-width: 768px;

$container-breakpoint-window: 10px;


//Devises width
$xxl: 1400px;
$xl: $container-desktop-width + $container-breakpoint-window;
$lg: 1080px;

$mobile-header-breakpoint: 1039px;

$md: $container-tablet-width + $container-breakpoint-window;
$sm: 480px;




//Search Vars
$search-input-text-color: #5d5d5d;
$search-input-border-color: #becbd2;
