@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.content-with-image--hello-we-re-comfy {
  &-section {
    .container {
      .col {
        &:first-child {
          @include media-breakpoint-up(md) {
            flex-basis: 530px;
          }
        }
        &:last-child {
          @include media-breakpoint-up(md) {
            flex-basis: 528px;
            margin-right: 86px;
          }
        }
      }
      &.container-sm {
        .col {
          &:last-child {
            @include media-breakpoint-up(md) {
              flex-basis: 443px;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}