@import "../../../src/scss/components/vars";
.review-slider {
  margin: 0 -20px;
  &-slide {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
    }
    &-content {
      @media (max-width: $md - 1) {
        padding-top: 36px;
      }
      &-wrap {
        display: flex;
        align-items: center;
        order: 2;
        @media (min-width: $sm) {
          flex-basis: 42%;
          order: 0;
        }
      }
      .cmf-star-rating {
        display: flex;
        position: relative;
        margin: 0 -4px 16px;
        @media (min-width: $md) {
          top: -34px;
          margin: 0 -4px;
        }

        .star {
          padding: 0 4px;
          width: 32px;
          flex-basis: 32px;
          @media (max-width: $sm) {
            width: 25px;
            flex-basis: 25px;
          }
        }
      }
    }
    &-image {
      flex-basis: 100%;
      @media (min-width: $sm) {
        flex-basis: 48.6%;
      }
    }

  }
  .slick-arrow {

    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 18px;
    font-size: 0;
    background: transparent;
    border: none;
    outline: none;
    line-height: 0;
    cursor: pointer;
    @media (max-width: $md - 1) {
      visibility: hidden;
    }
    &:hover {
      opacity: .6;
    }
    &.slick-prev {
      transform: rotate(180deg);
    }
    &.slick-next {
      left: 82px;
    }
  }

  .review {
    &-title {
      margin-bottom: 18px;
      @media (min-width: $md) {
        margin-bottom: 30px;
      }
    }
  }
}