@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";

.review-slider {
  margin: 0 -20px;
  &-slide {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    &-content {
      @include media-breakpoint-down(sm) {
        padding-top: 36px;
      }
      &-wrap {
        display: flex;
        align-items: center;
        order: 2;
        @include media-breakpoint-up(sm) {
          flex-basis: 42%;
          order: 0;
        }
      }
      .cmf-star-rating {
        display: flex;
        margin: 0 -4px 21px;
       @include media-breakpoint-up(md) {
          margin: 0 -4px 42px;
        }

        .star {
          padding: 0 4px;
          width: 32px;
          flex-basis: 32px;
          &.star-empty {
            opacity: .3;
          }
          @media (max-width: $sm) {
            width: 25px;
            flex-basis: 25px;
          }
        }
      }
    }
    &-image {
      flex-basis: 100%;
      @include media-breakpoint-up(sm) {
        flex-basis: 48.6%;
      }
      img {
        border-radius: 8px;
      }
    }
  }
  .slick-arrow {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 18px;
    font-size: 0;
    background: transparent;
    border: none;
    outline: none;
    line-height: 0;
    cursor: pointer;
    @include media-breakpoint-down(lg) {
      bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      visibility: hidden;
    }
    &:hover {
      opacity: .6;
    }
    &.slick-prev {
      transform: rotate(180deg);
    }
    &.slick-next {
      left: 82px;
    }
  }

  .review {
    &-title {
      margin-bottom: 18px;
      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
    }
    &-name {
      margin: 0 0 21px;
      @include media-breakpoint-up(md) {
        margin-bottom: 42px;
      }
    }
  }
}