@import "../../../src/scss/components/vars";
.content-with-image--why-comfy {
  &-section {
    &.image-position-right {
      .row .col:last-child {
        @media (min-width: $lg) {
          margin-right: 86px;
          margin-left: 0;
        }
      }
    }
    .row {
      .col {
        &:first-child {
          @media (min-width: $md ) {
            flex-basis: 530px;
          }
        }
        &:last-child {
          @media (min-width: $md ) {
            flex-basis: 443px;
          }
          @media (min-width: $lg) {
            margin-right: 86px;
          }
        }
      }
    }
  }
}