@import "../../../src/scss/components/vars";
@import "../../../src/scss/components/mixins";
.hero-section {
  &.full-width-content {
    text-align: center;
    .row {
      .col {
        &:first-child {
          @include media-breakpoint-up(lg) {
            flex-basis: 100%;
          }
        }
        &:nth-child(2) {
          @include media-breakpoint-up(lg) {
            flex-basis: 100%;
          }
        }
      }
    }
    .section-content {
      margin: 16px 0 8px;
    }
  }

  .row {
    .col {
      &:first-child {
        @include media-breakpoint-up(lg) {
          flex-basis: 54%;
        }
      }
      &:nth-child(2) {
        @include media-breakpoint-up(lg) {
          flex-basis: 440px;
        }
      }
    }
  }
  .section-title {
    margin-bottom: 0;
  }
  .section-content {
    p {
      margin-top: 16px;
      margin-bottom: 0;
      @include media-breakpoint-up(lg) {
        margin-top: 8px;
      }
    }

  }
  .button {
    margin-top: 24px;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {

    }
  }

  img {
    margin-top: 32px;
    @include media-breakpoint-up(sm) {
      border-radius: 8px;
    }
    @include media-breakpoint-up(md) {
      margin-top: 64px;
    }
  }
}