@import "../../../src/scss/components/vars";
.hero-section {
  .row {
    .col {
      &:first-child {
        @media (min-width: $lg) {
          flex-basis: 54%;
        }
      }
      &:nth-child(2) {
        @media (min-width: $lg) {
          flex-basis: 350px;
        }
      }
    }
  }
  .section-title {
    margin-bottom: 0;
  }
  .section-content {
    p {
      margin-top: 8px;
    }
    @media (min-width: $md) {

    }
  }
  .button {
    margin-top: 24px;
    margin-bottom: 0;
    @media (min-width: $sm) {
      margin-top: 8px;
      margin-bottom: 0;
    }
  }

  img {
    margin-top: 10px;
    @media (min-width: $md) {
      margin-top: 64px;
    }
  }
}