@import "../../../src/scss/components/vars";
.hero-section {
  .row {
    .col {
      &:first-child {
        @media (min-width: $lg) {
          flex-basis: 54%;
        }
      }
      &:nth-child(2) {
        @media (min-width: $lg) {
          flex-basis: 350px;
        }
      }
    }
  }
  .section-title {
    margin-bottom: 0;
  }
  .section-content {
    p {
      margin-top: 16px;
      margin-bottom: 0;
      @media (min-width: $lg) {
        margin-top: 8px;
      }
    }

  }
  .button {
    margin-top: 24px;
    margin-bottom: 0;
    @media (min-width: $sm) {

    }
  }

  img {
    margin-top: 32px;
    @media (min-width: $sm) {
      border-radius: 8px;
    }
    @media (min-width: $md) {
      margin-top: 64px;
    }

  }
}