@import "../../../src/scss/components/vars";
.content-with-image-section {

  .image-col {
    .section-title {
      margin-top: -10px;
      margin-bottom: 28px;

      @media (max-width: $md - 1) {
        font-size: 32px;
      }
      @media (min-width: $md) {
        text-align: center;
        margin-bottom: 60px;
      }
    }
    img {
      border-radius: 8px;
    }
  }
  .content-col {
    $padding-md-vals: 15, 16, 17, 18, 19, 20;
    @each $padding-md-val in $padding-md-vals {
      &.pr-md-#{$padding-md-val} {
        @media ( min-width: $md ) {
          padding-right: #{$padding-md-val + 'px'};
        }
      }
      &.pl-md-#{$padding-md-val} {
        @media ( min-width: $md ) {
          padding-left: #{$padding-md-val + 'px'};
        }
      }
    }

    &.image-title-exist {
      @media (min-width: $md) {
        padding-top: 110px;
        padding-left: 8.5%;
      }

    }
    ul {
      padding-left: 0;
      padding-right: 5%;
      margin-bottom: 0;
      li {
        display: block;
        margin-bottom: 30px;
        @media (min-width: $md) {
          margin-bottom: 42px;
        }
        &:last-child {
          margin-bottom: 16px;
        }
      }
    }
    img {
      width: auto;
      margin-bottom: 5px;
      @media (min-width: $md) {
        margin-bottom: 10px;
      }
    }
  }

  .image-position-right {
    .image-col {
      @media (min-width: $md) {
        order: 2;
      }
    }
  }
  .button-secondary {
    margin: 15px 0 10px;
  }
}