@import "../components/vars";
@import "../components/mixins";
.checkout {
  #cfw {
    #order_review, #cfw-coupons {
      .cfw-secondary-btn, .cfw-primary-btn {
        @include button;
      }
      .cfw-primary-btn {
        @include button-primary;
      }
      .cfw-secondary-btn {
        @include button-secondary;
        &#cfw-promo-code-btn, &#wc_gc_cart_redeem_send {
          padding: 16.5px;
          background-color: transparent;
          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
    .cfw-cart-item-description {
      .credit {
        display: none;
      }
    }
  }
}
