@import "../components/vars";
@import "../components/mixins";

.page-template-comming-soon-template {
  header.site-header, footer.footer {
    display: none;
  }
  main.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    section {
      flex-basis: 100%;
    }
    .coming-soon-section {
      @include media-breakpoint-up(sm) {
        text-align: center;
      }

      @include media-breakpoint-up(md) {
        margin: 10vh 0;
      }

      .row {
        align-items: center;
        @include media-breakpoint-up(sm) {
          flex-wrap: nowrap;
        }
        .col {
          @include media-breakpoint-down(xs) {
            flex-basis: 100%;
          }
          &:first-child {
            @include media-breakpoint-up(sm) {
              flex-grow: 1;
              max-width: 604px;
              @include media-breakpoint-down(xl) {
                flex-basis: 50%;
              }
            }
          }
          &:nth-child(2) {
            display: flex;
            justify-content: center;
            flex-grow: 2;

          }
          .section-content-wrap {
            flex-basis: 100%;
            @include media-breakpoint-up(sm) {
              flex-basis: 490px;
            }
          }
        }
      }
      img {
        border-radius: 8px;
        max-height: 80vh;
        object-fit: cover;
        @include media-breakpoint-down(xs) {
          margin-bottom: 40px;
          max-height: calc(100vw - 40px);
        }
      }
      form {
        margin-top: 32px;
        position: relative;
        label {
          text-align: left;
          text-transform: none;
        }
        .wpcf7-not-valid-tip {
          font-size: 13px;
        }
        .wpcf7-form-control-wrap {
          margin-bottom: 32px;
          text-align: left;
        }
        .wpcf7-form-control {
          &.wpcf7-submit {
            min-width: 210px;
            margin-top: 32px;
            @include media-breakpoint-down(xs) {
              width: 100%;
            }
          }
        }
        .wpcf7-spinner {
          position: absolute;
          top: 12px;
          right: 16px;
        }
        p {
          margin: 0;
        }
      }
      .logo {
        margin-bottom: 16px;
      }
      h2, h3 {
        margin-bottom: 24px;
      }
      h5, h6 {
        margin-bottom: 16px;
      }
      h6 {
        font-family: CotfordDisplay;
        text-transform: none;
        font-size: 24px;
        line-height: 140%;
      }
      p {
        margin-bottom: 32px;
      }
    }
  }
}
