@import "../components/vars";
@import "../components/mixins";
.page-template-comments-archive-template {
  .comments-archive-section {
    margin: 120px 0;
  }
}
.comments-archive-section {
  .section-title {
    margin-bottom: 16px;
  }
  .jdgm-rev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 42px;
    padding: 0;
    border: none;
    @include media-breakpoint-up(md) {
      margin-bottom: 56px;
    }

    &-widg {
      padding: 0;
      border: none;
      &__title {
        display: none;
      }
      &__header {
        margin-bottom: 58px;
        @include media-breakpoint-up(md) {
          margin-bottom: 120px;
        }
        .jdgm-widget-actions-wrapper {
          .jdgm-write-rev-link {
            margin: 22px 0 0;
          }
        }
        .jdgm-histogram {
          display: none;
        }
      }
      &__summary {
        &-stars {
          margin-bottom: 22px;
          .jdgm-star {
            font-size: 21px;
          }
        }
        &-rating-text {
          font-size: 12px;
        }
        &-text {
          display: none;
        }
      }
      &__sort-wrapper {
        display: none;
      }


    }

    &__header {
      display: flex;
      flex-direction: column;
      flex-basis: 84px;
      color: $primary-color;
      @include media-breakpoint-up(md) {
        text-align: center;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 16px;
      }
    }
    &__title {
      font-family: 'CotfordDisplay';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 16px;
      color: $primary-color;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    &__body {
      color: $primary-color;
    }
    &__rating {
      position: static;
      margin: 0;
      line-height: 36px;
      @include media-breakpoint-up(md) {
        margin: 0 auto;
        line-height: 44px;
      }
      .jdgm-star {
        font-size: 10px;
      }

    }
    &__author {
      &-wrapper {
        font-weight: normal;
        margin: 0 0 8px;
        @include media-breakpoint-up(md) {
          margin-top: 14px;
        }
      }
    }
    &__timestamp {
      position: static;
      margin: 0;
      order: 2;
    }
    &__icon {
      display: none;
    }

    &__content {
      @include media-breakpoint-up(sm) {
        margin-left: 30px;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 750px;
      }

    }

  }

}