@import "../components/vars";
@import "../components/mixins";
.page-template-comments-archive-template {
  .comments-archive-section {
    margin: 120px 0;
  }
}
.comments-archive-section {
  .section-title {
    margin-bottom: 16px;
  }
  .jdgm-rev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
    border: none;

    &__header {
      display: flex;
      flex-direction: column;
      flex-basis: 84px;
      color: $primary-color;
      margin-bottom: 74px;
      text-align: center;
      @include media-breakpoint-down(xs) {
        margin-bottom: 16px;
      }
    }
    &__title {
      font-family: 'CotfordDisplay';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 16px;
      color: $primary-color;
    }
    &__body {
      color: $primary-color;
    }
    &__rating {
      position: static;
      margin: 0 auto;
      .jdgm-star {
        font-size: 10px;
      }
    }
    &__author {
      &-wrapper {
        font-weight: normal;
        margin: 26px 0 8px;
      }
    }
    &__timestamp {
      position: static;
      margin: 0;
      order: 2;
    }

    &__content {
      flex-basis: 750px;
      @include media-breakpoint-up(sm) {
        margin-left: 30px;
      }
    }

    &-widg {
      padding: 0;
      border: none;
      &-title {
        display: none;
      }
      &__summary {
        &-stars {
          margin: 22px 0;
          .jdgm-star {
            font-size: 21px;
          }
        }
        &-rating-text {
          font-size: 12px;
        }
        &-text {
          display: none;
        }
      }
      .jdgm-histogram {
        display: none;
      }
    }
  }

}