@import "../components/vars";
@import "../components/mixins";
.story {
  margin-bottom: 80px;
  color: $secondary-color;
  @include media-breakpoint-up(md) {
    margin-bottom: 120px;
  }
  &-heading {
    margin: 32px 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin: 64px 0 60px;
    }
  }
  &-title {
  @include media-breakpoint-up(md) {
      font-size: 56px;
    }
  }
  &-subtitle {
    margin-bottom: 6px;
  }
  .post-cats {
    justify-content: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }
  time {
    font-size: 14px;
    @include media-breakpoint-down(lg) {
      display: block;
      margin-top: 16px;
    }
  }
  &-content {
    margin: 32px auto 26px;
    @include media-breakpoint-up(md) {
      margin: 64px auto 26px;
    }
    img {
      margin: 18px 0 0;
      @include media-breakpoint-up(md) {
        margin: 44px 0 26px;
      }
    }
    p {
      margin-bottom: 24px;
    }
    h4 {
      margin: 40px 0 16px;
      @include media-breakpoint-up(md) {
        margin: 44px 0 26px;
      }
    }

  }
  .story-author {
    display: flex;
    align-items: start;
    border-top: 1px solid $line-gray;
    padding-top: 40px;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      align-items: center;
    }
    &-info {
      flex-grow: 2;
      padding-left: 32px;
    }
    img {
      min-width: 80px;
      flex-basis: 80px;
      border-radius: 100%;
      @include media-breakpoint-up(md) {
        min-width: 142px;
        flex-basis: 142px;
      }
    }
  }
  img {
    border-radius: 8px;
  }
}
.related-posts {
  margin-bottom: 48px; //(80 - 32)
  @include media-breakpoint-up(sm) {
    margin-bottom: 88px; // (120 - 32)
  }
  .row {
    justify-content: center;
  }
  &-title {
    text-align: center;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 32px;
    @include media-breakpoint-up(lg) {
      font-size: 40px;
      margin-bottom: 64px;
    }
  }
  .post {
    padding: 0 20px;
    @include media-breakpoint-up(sm) {
      max-width: 50%;
      padding: 0 16px;
    }
    &-cats {
      justify-content: start;
      margin-bottom: 8px;
      .post-cat {
        font-size: 14px;
      }
    }
  }

  img {
    margin-bottom: 24px;
  }
}