@import "../components/vars";
.post {
  margin-bottom: 60px;
  color: $secondary-color;
  @media (min-width: $md) {
    margin-bottom: 120px;
  }
  &-heading {
    margin: 32px 0;
    text-align: center;
    @media (min-width: $md) {
      margin: 64px 0 60px;
    }
  }
  &-title {
    @media (min-width: $md) {
      font-size: 56px;
    }
  }
  &-subtitle {
    margin-bottom: 6px;
  }
  .post-cats {
    justify-content: center;
    @media (min-width: $md) {
      margin-bottom: 20px;
    }
  }
  time {
    font-size: 14px;
    @media (max-width: $md - 1) {
      display: block;
      margin-top: 16px;
    }
  }
  &-content {
    margin: 32px auto 26px;
    @media (min-width: $md) {
      margin: 64px auto 26px;
    }
    img {
      margin: 18px 0 0;
      @media (min-width: $md) {
        margin: 44px 0 26px;
      }
    }
    p {
      margin-bottom: 24px;
    }
    h4 {
      margin: 40px 0 16px;
      @media (min-width: $md) {
        margin: 44px 0 26px;
      }
    }

  }
  .post-author {
    display: flex;
    align-items: start;
    border-top: 1px solid $line-gray;
    padding-top: 40px;
    margin-bottom: 0;
    @media (min-width: $md) {
      align-items: center;
    }
    &-info {
      flex-grow: 2;
      padding-left: 32px;
    }
    img {
      min-width: 80px;
      flex-basis: 80px;
      border-radius: 100%;
      @media (min-width: $md) {
        min-width: 142px;
        flex-basis: 142px;
      }
    }
  }
  img {
    border-radius: 8px;
  }
}
.related-posts {
  margin-bottom: 80px;
  @media (min-width: $sm) {
    margin-bottom: 88px; // (120 - 32)
  }
  &-title {
    text-align: center;
    margin-bottom: 64px;
    @media (max-width: $md - 1) {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }
  .post {
    margin-bottom: 32px;
    &-cats {
      justify-content: start;
      margin-bottom: 8px;
      .post-cat {
        font-size: 14px;
      }
    }
  }

  img {
    margin-bottom: 24px;
  }
}